body {
    margin-top: 100PX;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(HOME.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.enc-buttons {
    display: grid;
    gap: 10PX;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20PX;
}

.enc{
   margin-top: 30PX;
   padding: 10PX 20PX;
   border-radius: 8PX;
   border: none;
   font-size: 16px;
   color: white;
   background-color: #4ab2b8;
   border: none;
   border-radius: 5px;
   position: relative; 
}

.enc:hover {
   
    transform: scale(1.05);
}

.encn:active {
   
    transform: scale(1.05);
}

.G {
    padding: 0 60px 30px 60px;
    background-color:rgba(94, 94, 94, 0.355);
    backdrop-filter: blur(10px);
    display: grid;
    row-gap: 20px;
    color: rgb(155, 157, 158);
    border-radius: 9px;
    box-shadow: 0 0 1px #4f4f4f, 0 0 px #4f4f4f, 0 0 30px #4f4f4f, 0 0 60px #4f4f4f;
}

input {
    padding: 10px;
    border-radius: 9px;
    border: 2px solid #737373;
    background-color: #4f4f4f1e;
    color: #b0aeae;
}
select{
    padding: 10px;
    border-radius: 9px;
    border: 2px solid #737373;
    background-color: #4f4f4f1e;
    color: #b0aeae;
}
.input {
    width: 270px;
    height: 15px;
    padding: 10px;
    border-radius: 9px;
    border: 2px solid #737373;
}

.glowing-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4ab2b8;
    border: none;
    border-radius: 5px;
    position: relative;
  
    margin-top: 25px;
    margin-bottom: 20px;
}

.glowing-button:hover {
   
    transform: scale(1.05);
}

.glowing-button:active {
   
    transform: scale(1.05);
}

.glowing-button::before {
    content: '★';
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 24px;
    color: #00fbff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.glowing-button:hover::before {
    opacity: 1;
}

.glowing-button:active::before {
    opacity: 0.5;
}
.global{
    display: none;
}